<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hindu Habitat</title>
		<link rel="icon" type="image/x-icon" href="../static/img/favicon.ico?v=2" />
		<link href="/static/css/output.css?v=2" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="flex min-h-screen w-full flex-col items-center bg-[#F6F6F6]">
		<!--HEADER-->
		<div class="sticky left-0 top-0 w-full">
			<div class="flex w-full justify-between bg-white p-4">
				<a href="/" class="flex items-center justify-between space-x-4">
					<img
						src="./../static/img/main/icon.png"
						width="50px"
						height="50px"
						class="rounded-[10px]"
						,
					/>
					<p class="font-poppins text-[26px] font-bold text-primary">
						Hindu Habitat
					</p>
				</a>
			</div>
			<!--DIVIDER-->
			<div class="h-[0.5px] w-full bg-[#e3e3e3] p-[0.5px]"></div>
		</div>
		<!--CONTACT FORM-->
		<div class="flex flex-col items-center space-y-4 px-8 py-16 font-poppins">
			<p class="text-[20px] font-bold sm:text-[32px]">
				CONTACT US<span class="text-[#FEB902]">.</span>
			</p>
			<p class="text-[14px] sm:text-[14px]">
				have questions or feedback? we'd love to hear from you!
			</p>
			<form action="/contact" method="post"
				class="max:text-[14px] max-w-[480px] rounded-[15px] bg-white p-6 text-[12px]"
			>
				<label for="name">Name</label>
				<br />
				<input
					class="mt-2 rounded-[10px] border px-1 py-1"
					id="name"
					name="name"
					type="text"
					placeholder="John Smith"
				/>
				<br />
				<br />
				<label for="email">Email</label>
				<br />
				<input
					class="mt-2 rounded-[10px] border px-1 py-1"
					id="email"
					name="email"
					type="email"
					placeholder="jsmith@email.com"
				/>
				<br />
				<br />
				<label for="message">Message</label>
				<br />
				<textarea
					class="mt-2 w-full rounded-[10px] border px-1 py-1"
					id="message"
					name="message"
					type="paragraph"
					placeholder="..."
				></textarea>
				<br />
				<br />
				<input
					style="
						background: linear-gradient(to right, #feb902 50%, #6e4b04 50%);
						background-size: 200% 100%;
						background-position: right bottom;
						transition: background-position 0.5s ease;
					"
					onmouseover="this.style.backgroundPosition='left bottom'"
					onmouseout="this.style.backgroundPosition='right bottom'"
					class="w-full rounded-[15px] bg-primary px-4 py-1 text-white"
					type="submit"
					value="Submit"
				/>
			</form>
		</div>
		<div class="flex grow"></div>
		<!--FOOTER-->
		<div class="flex w-full flex-col items-center justify-center">
			<div class="h-[0.5px] w-full bg-[#e3e3e3] p-[0.5px]"></div>
			<div
				class="flex w-full max-w-[1100px] flex-col items-center justify-between px-8 py-[20px] font-poppins sm:flex-row"
			>
				<div class="flex items-center justify-between space-x-1.5">
					<img
						src="./../static/img/main/logo.png"
						width="40px"
						height="40px"
						class="rounded-[10px]"
						,
					/>
					<p class="font-poppins text-[16px] font-semibold text-primary">
						Hindu Habitat
					</p>
				</div>
				<div class="text-[12px] text-[#696868]">© Hindu Habitat 2025</div>
				<div
					class="flex items-center justify-between space-x-4 font-poppins text-[12px] font-semibold text-[#696868]"
				>
					<a href="/privacy" class="">Privacy Policy</a>
                    <a href="/contact" class="">Contact Us</a>
				</div>
			</div>
		</div>
	</body>
</html>
