<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col w-full min-h-screen" style="background-color:#FFF4DC;">
    <!--HEADER-->
    <div class="w-full bg-accent flex justify-center">
        <!--NAVBAR-->
        <div class="flex min-[850px]:flex-row flex-col min-[850px]:justify-between min-[850px]:w-[1134px] max-[850px]:items-start bg-accent font-ubuntu px-6 w-full">
            <img onclick="window.location.href='/';" class="hover:cursor-pointer max-[850px]:pt-2" src="../static/img/home/logo.png">
            <div class="flex flex-row space-x-4 items-center max-[850px]:pb-2">
                <p onclick="window.location.href='/features';" class="text-primary hover:cursor-pointer hover:translate-y-0.5 transform transition duration-200">Features</p>
                <p class="text-white px-2 py-1 rounded-lg hover:translate-y-0.5 transform transition duration-200 border-secondary hover:cursor-pointer bg-primary border-2">Donate</p>
            </div>
        </div>
    </div>
    <!--DONATE MAIN INFORMATION-->
    <div class="w-full flex justify-center pt-8">
        <div class="relative w-[1134px] px-6">
            <img src="../static/img/donation/donate.png" style="object-fit: cover;" width="100%" class="max-[850px]:min-h-[250px] rounded-[20px]">
            <div class="absolute inset-0 flex items-center  px-14">
                <div class="flex flex-col space-y-0">
                    <p class="text-[#FFBF38] text-[16px] font-inter">Support Us:</p>
                    <p class="text-white text-[44px] font-bold font-inter">DONATE</p>
                    <p class="text-[#B6B6B6] text-[14px] font-inter rounded-md min-[480px]:w-[370px]">By donating, you help us improve our app and make Hindu resources more accessible to future generations.</p>
                    <br>
                    <p onclick="window.location.href='https://paypal.me/hinduhabitat?country.x=US&locale.x=en_US';" class="hover:translate-y-1 transform transition duration-200 cursor-pointer text-primary bg-secondary text-[16px] font-bold font-inter rounded-[20px] px-2 py-1 w-min">Donate</p>
                </div>
            </div>
        </div>
    </div>
    <!--DONATE ADDITIONAL INFORMATION-->
    <div class="w-full flex justify-center pt-8 px-6">
        <div class="flex flex-col space-y-6">
            <div class="flex flex-col">
                <p class="text-[20px] font-semibold text-black font-inter">Where Do <span class="text-[#854A4A]">Your</span> Donations Go?</p>
                <p class="text-[14px] text-[#474747] font-inter">- All initial donations will go towards the following, with any additional support helping us improve and maintain the app.</p>
            </div>
            <div class="flex flex-row max-[1090px]:flex-col font-inter min-[1090px]:space-x-4 max-[1090px]:space-y-2 items-center">
                <!--CONTAINER-->
                <div class="hover:translate-y-1 transform transition duration-200 cursor-pointer flex flex-col bg-white px-2 py-1 w-[330px] space-y-2 rounded-[20px] border-2 border-primary">
                    <div>
                        <p class="text-[30px]">🖥</p>
                        <p class="text-[16px]">Server & Domain Hosting</p>
                    </div>
                    <p class="text-[14px] text-[#545454] pb-4 leading-[18px] font-ubuntu">Running the app and maintaining the website, which provides essential festival information, come with ongoing costs for server hosting and domain renewal. Your donations help cover these expenses, ensuring both the app and the website stay up and running.</p>
                </div>
                <div class="hover:translate-y-1 transform transition duration-200 cursor-pointer flex flex-col bg-white px-2 py-1 w-[330px] space-y-2 rounded-[20px] border-2 border-primary">
                    <div>
                        <p class="text-[30px]">📱</p>
                        <p class="text-[16px]">Developer Licenses</p>
                    </div>
                    <p class="text-[14px] text-[#545454] pb-4 leading-[18px] font-ubuntu">The annual cost of developer licenses is essential for updating and maintaining the app. Your donations help cover this required expense, allowing us to keep the app and website up to date with new features and accurate festival information.</p>
                </div>
                <div class="hover:translate-y-1 transform transition duration-200 cursor-pointer flex flex-col bg-white px-2 py-1 w-[330px] space-y-2 rounded-[20px] border-2 border-primary">
                    <div>
                        <p class="text-[30px]">🏦</p>
                        <p class="text-[16px]">Reinvestment</p>
                    </div>
                    <p class="text-[14px] text-[#545454] pb-4 leading-[18px] font-ubuntu">Most remaining donations will be reinvested into improving the app, allowing us to enhance the user interface, add new features, and provide a better overall experience. This helps ensure that the app continues to evolve and meet the needs of our users.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex grow py-8">

    </div>
    <div class="w-full flex justify-center pt-10 bg-[#0e1c25] pb-14">
        <div class="flex flex-row justify-around w-[1134px] items-start text-white font-inter px-6 text-[12px]">
            <p onclick="window.location.href='/contact';" class="hover:underline hover:cursor-pointer">Contact Us</p>
            <p onclick="window.location.href='/privacy';" class="hover:underline hover:cursor-pointer">Privacy Policy</p>
            <a href="https://apps.apple.com/us/app/hindu-habitat/id6450930877" class="hover:underline hover:cursor-pointer">iOS</a>
        </div>
    </div>
</body>