<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body class="w-full flex flex-col min-h-screen" style="background-color:#FFF4DC;">
    <!--HEADER-->
    <div class="w-full bg-accent flex justify-center">
        <!--NAVBAR-->
        <div class="flex min-[850px]:flex-row flex-col min-[850px]:justify-between min-[850px]:w-[1134px] max-[850px]:items-start bg-accent font-ubuntu px-6 w-full">
            <img onclick="window.location.href='/';" src="../static/img/home/logo.png" class="hover:cursor-pointer max-[850px]:pt-2 w-auto h-12">
            <div class="max-[850px]:pb-2 flex flex-row space-x-4 items-center">
                <p class="text-primary hover:cursor-pointer hover:translate-y-0.5 transform transition duration-200">Features</p>
                <p onclick="window.location.href='/donate';" class="text-primary px-2 py-1 rounded-lg hover:translate-y-0.5 transform transition duration-200 border-primary hover:cursor-pointer bg-secondary border-2">Donate</p>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center pt-8">
        <div class="relative w-full max-w-[1134px] px-6">
            <img src="../static/img/features/features.png" style="object-fit: cover;" width="100%" class="max-[850px]:min-h-[250px] rounded-[20px]">
            <div class="absolute inset-0 flex items-center px-14">
                <div class="flex flex-col space-y-0 w-full max-w-[370px]">
                    <p class="text-[#FFBF38] text-[16px] font-inter">Features:</p>
                    <p class="text-white text-[32px] md:text-[44px] font-bold font-inter">Tools That Bring Devotion to Your Fingertips</p>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN FEATURES-->
    <div class="w-full flex justify-center items-center pt-16 space-x-0 md:space-x-4 px-6">
        <div class="flex flex-col justify-between w-full max-w-[370px] items-center font-ubuntu leading-[46px] space-y-12 px-6">
            <div class="flex flex-col w-full max-w-[272px] space-y-2">
                <p class="text-[32px] md:text-[38px] font-bold">The<br><span class="text-[#854A4A]">Bhagavad<br>Gita</span></p>
                <p class="font-inter text-[14px] text-[#6D6D6D] leading-[17px]">Read all 18 chapters of the Bhagavad Gita directly within Hindu Habitat. Enjoy a clean, user-friendly interface that lets you explore timeless teachings.</p>
            </div>
            <img src="../static/img/features/calendar.png" class="w-full max-[500px]:w-[200px]">
        </div>
        <div class="flex flex-col justify-between w-full max-w-[370px] items-center font-ubuntu leading-[46px] space-y-12">
            <img src="../static/img/features/gita.png" class="w-full max-[500px]:w-[200px]">
            <div class="flex flex-col w-full max-w-[272px] space-y-2">
                <p class="text-[32px] md:text-[38px] font-bold"><span class="text-[#854A4A]">Fasting &<br>Festival</span><br>Calendar</p>
                <p class="font-inter text-[14px] text-[#6D6D6D] leading-[17px]">Easily access the names and dates of upcoming Hindu festivals with the Festival Calendar in Hindu Habitat. </p>
            </div>
        </div>
    </div>
    <!--SECONDARY FEATURES-->
    <div class="w-full flex justify-center font-inter pb-10">
        <div class="flex flex-col w-full max-w-[690px] justify-center items-start pt-16 space-y-2 max-[845px]:px-6">
            <p class="text-[20px] font-bold text-[#6E4C04]">Additional Features:</p>
            <div class="flex flex-row justify-start space-x-4 overflow-x-auto">
                <div class="flex flex-col justify-center items-center">
                    <img src="../static/img/features/quotes.png" class="w-16 max-[600px]:w-12">
                    <p class="text-[12px]">Quotes</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img src="../static/img/features/goals.png" class="w-16 max-[600px]:w-12">
                    <p class="text-[12px]">Goals</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img src="../static/img/features/prayers.png" class="w-16 max-[600px]:w-12">
                    <p class="text-[12px]">Prayers</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img src="../static/img/features/reflections.png" class="w-16 max-[600px]:w-12">
                    <p class="text-[12px]">Reflections</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex grow py-8">

    </div>
    <div class="w-full flex justify-center pt-10 bg-[#0e1c25] pb-14">
        <div class="flex flex-wrap justify-around w-full max-w-[1134px] items-start text-white font-inter px-6 text-[12px]">
            <p onclick="window.location.href='/contact';" class="hover:underline hover:cursor-pointer mx-2">Contact Us</p>
            <p onclick="window.location.href='/privacy';" class="hover:underline hover:cursor-pointer mx-2">Privacy Policy</p>
            <a href="https://apps.apple.com/us/app/hindu-habitat/id6450930877" class="hover:underline hover:cursor-pointer">iOS</a>
        </div>
    </div>
</body>
</html>
