<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />
		<link href="../static/css/output.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="flex min-h-screen w-full flex-col items-center">
		<!--HEADER-->
		<div class="flex w-full justify-between p-4">
			<div class="flex justify-between items-center space-x-4 text-red-500">
				<img
					src="./../static/img/home/icon.png"
					width="50px"
					height="50px"
					class="rounded-[10px]",
				/>
                <p class="font-poppins font-extrabold text-[26px] text-primary">Hindu Habitat</p>
			</div>
            <div class="flex justify-between items-center space-x-6 text-[14px] font-poppins font-semibold">
                <p class="text-primary">Features</p>
                <p class="text-primary">Donate</p>
                <p class="text-white bg-primary px-3 py-2 rounded-[15px]">
                    Download
                </p>
            </div>
		</div>
        <!--DIVIDER-->
        <hr class="text-[#C8C8C8]">
        <!--MISSION-->
        <div class="flex flex-col h-[555px] justify-center items-center font-poppins text-center space-y-[32px]">
            <p class="text-[58px] font-bold leading-[87px] w-[600px]">Bring Your Daily Devotion to Life</p>
            <p class="text-[20px] leading-[30px] w-[365px]">Scriptures, Mantras, Festival Alerts & Inspiring Reflections in One Free App</p>
            <a class="hover:cursor-pointer" href="https://apps.apple.com/us/app/hindu-habitat/id6450930877"><img src="../static/img/home/app_store_download.png" width="150px"></a>
        </div>
        <!--MOCKUPS-->
        <div class="w-[1232px] h-[700px] bg-secondary rounded-[20px] flex flex-row justify-between items-center mt-[34px]">
            <img src="../static/img/mockups/gita-portrait.png" width="386px" class="mt-[-150px]">
            <img src="../static/img/mockups/home-portrait.png" width="386px" class="mt-[-100px]">
            <img src="../static/img/mockups/calendar-portrait.png" width="386px" class="mt-[-150px]">
        </div>
        <!--FEATURES-->
        <div>
            
        </div>
	</body>
</html>
