<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col w-full min-h-screen" style="background-color:#FFF4DC;">
    <!--HEADER-->
    <div class="w-full bg-accent flex justify-center">
        <!--NAVBAR-->
        <div class="flex min-[850px]:flex-row flex-col min-[850px]:justify-between min-[850px]:w-[1134px] max-[850px]:items-start bg-accent font-ubuntu px-6 w-full">
            <img onclick="window.location.href='/';" src="../static/img/home/logo.png" class="hover:cursor-pointer max-[850px]:pt-2 w-auto h-12">
            <div class="max-[850px]:pb-2 flex flex-row space-x-4 items-center">
                <p onclick="window.location.href='/features';" class="text-primary hover:cursor-pointer hover:translate-y-0.5 transform transition duration-200">Features</p>
                <p onclick="window.location.href='/donate';" class="text-primary px-2 py-1 rounded-lg hover:translate-y-0.5 transform transition duration-200 border-primary hover:cursor-pointer bg-secondary border-2">Donate</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row w-full justify-center">
        <div class=" flex flex-col pt-8 px-6 w-[1134px]">
            <p class="font-inter font-bold text-primary text-[20px]">Privacy Policy for Hindu Habitat</p><br>
            <p class="font-inter text-[14px] text-[#6D6D6D]">This Privacy Policy outlines how Hindu Habitat ("we," "us," or "our") collects, uses, and protects your personal information when you access and use our mobile application and website (collectively referred to as the "Services"). By using our Services, you consent to the practices described in this Privacy Policy.<br><br>

            <span class="font-semibold">1. Information We Collect</span><br>
            We collect personal information that you provide when using the contact form on our website or app. This includes your name and email address, which are used solely to respond to your inquiries or requests. We do not collect any other personal data or track your activity on our Services.<br><br>

            <span class="font-semibold">2. Use of Information</span><br>
            The personal information collected is used exclusively to respond to your inquiries or requests. We do not use this information for any other purpose, nor do we share or sell it to third parties.<br><br>

            <span class="font-semibold">3. Third-Party Services</span><br>
            Our Services do not use third-party services that collect personal data, except for essential services such as hosting or analytics. Any data collected by these third parties is anonymized and does not include personally identifiable information.<br><br>

            <span class="font-semibold">4. Cookies and Tracking Technologies</span><br>
            Our website may use cookies to improve user experience. Cookies are small files stored on your device to remember preferences and improve functionality. You can manage or disable cookies through your browser settings, but some features of our Services may not work without them.<br><br>

            <span class="font-semibold">5. Data Security</span><br>
            We implement reasonable security measures to protect the personal information you provide. However, no method of data transmission or electronic storage is 100% secure. While we strive to protect your personal information, we cannot guarantee its absolute security.<br><br>

            <span class="font-semibold">6. Data Retention</span><br>
            We do not retain personal information longer than necessary to respond to your inquiry. Once communication is complete, your personal data is not stored or saved.<br><br>

            <span class="font-semibold">7. Your Rights</span><br>
            You have the right to access, correct, or request deletion of your personal information. If you wish to exercise any of these rights or have concerns regarding your data, please contact us using the information below.<br><br>

            <span class="font-semibold">8. Changes to this Privacy Policy</span><br>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page, with the updated effective date. We encourage you to review this Privacy Policy periodically to stay informed.<br><br>

            <span class="font-semibold">9. Contact Us</span><br>
            For any questions or concerns about this Privacy Policy, or to exercise your rights regarding your personal data, please contact us <span onclick="window.location.href='/contact';" class="hover:underline hover:cursor-pointer mx-2 text-blue-500">here</span>.<br><br>

            </p>
        </div>
    </div>
    <div class="flex grow py-8">

    </div>
    <div class="w-full flex justify-center pt-10 bg-[#0e1c25] pb-14">
        <div class="flex flex-wrap justify-around w-full max-w-[1134px] items-start text-white font-inter px-6 text-[12px]">
            <p onclick="window.location.href='/contact';" class="hover:underline hover:cursor-pointer mx-2">Contact Us</p>
            <p class="hover:underline hover:cursor-pointer mx-2">Privacy Policy</p>
            <a href="https://apps.apple.com/us/app/hindu-habitat/id6450930877" class="hover:underline hover:cursor-pointer">iOS</a>
        </div>
    </div>
</body>